@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}
body {
  margin: 0;
  display:flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.header,
.footer,
.top {
  display: flex;
  background-color: #1F2937;
}

.top {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header {
  justify-content: space-around;
  align-items: center;
}

.top-text {
  color: #F9FAF8;
  font-size: 48px;
  width: 40%
}

.top-subtext {
  width: 60%
}

.name {
  font-size: 24px;
  color: #F9FAF8;
}

.nav-menu,
.top-subtext,
.footer {
  color: #E5E7EB;
  font-size: 18px;
}

.nav-menu {
  display: flex;
  gap: 15px;
}

.mainimg {
  flex: 0 1 auto;
}

.seemorebtn {
    border: none;
    background-color: #3882F6;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 15px 5px 15px;
}

.available-tours-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tours {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.tour {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
}

.tour-image {
  border: 3px solid #3882F6;
  border-radius: 20px;
}

.tour-text {
  text-align: center;
}

.testimony-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E7EB;
}

.quote {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 100;
  width: 50%;
}

.see-more-section {
  display: flex;
  margin: 55px;
  background-color: #3882F6;
}

.bottombtn {
  border: 2px solid white;
}

.footer {
  justify-content: center;
  align-items: center;
}
